/* Breakpoints */
$mobile: "768px";
$notebook: "769px";

/* Fonts */
$font-main: "Inter", sans-serif;
$font-secondary: "Libre Franklin", sans-serif;
$text-color-light: white;
$text-color-light-opacity9: rgba(255, 255, 255, 0.9);
$text-color-light-opacity75: rgba(255, 255, 255, 0.75);
$text-color-dark-1: #130c25;
$text-color-dark-2: #423d51;
$text-color-theme-dark: #432e98;
$text-color-theme-light: #5f41d9;
$text-color-menu-list: #5a5566;

/* Backdrop */
$backdrop-opacity3: rgba(0, 0, 0, 0.03);

/* HR, lines, strokes, arrows */
$hr-color: rgba(0, 0, 0, 0.06);
$bright-line: #99f3f5;
$arrow-color: #afa0ec;

/* Buttons */
$main-button-color: #00e1e7;
